In [30]:
# Q1.

# Ordinal encoding is used when categorical values have a meaningful order, and you want to preserve that order.
# Example: Education levels - "High School" (1), "Undergraduate"(2), "Masters" (3), "PhD"(4).

# Label Encoding is used when categorical values have no inherent order, and we want to assign unique numeric labels.
# Example: Colors - "Red" (1), "Green" (2), "Blue" (3).

# Choose ordinal encoding for ordered categories and label encoding for unordered ones.

In [29]:
# Q2.

# Target Guided Ordinal Encoding is a method to encode categorical variables by considering their relationship with the target variable:

# Calculate the mean or median of the target variable for each category.
# Order categories based on their means/medians.
# Encode categories with higher means/medians with higher ordinal values.
# This helps the model capture ordinal relationships between categories and the target.

# Example: Ordering subscription types (Basic, Premium, Pro) based on churn rates for predicting customer churn.

In [28]:
#Q3.

# Covariance is a statistical measure that shows how two variables change together.
# It's important in statistics for understanding relationships between variables and making predictions.
# Covariance can be positive, negative, or zero, and it is used to calculate correlation.
# It's calculated using a formula, but there are libraries like NumPy to do it easily.

In [21]:
#Q4.

from sklearn.preprocessing import LabelEncoder

In [23]:
# Create a simple dataset

data = {
    'Color':['red', 'green', 'blue', 'red', 'blue'],
    'Size':['small', 'medium', 'large', 'medium', 'small'],
    'Material': ['wood', 'metal', 'plastic', 'wood', 'metal']
}

In [24]:
df = pd.DataFrame(data)

In [25]:
label_encoder_color = LabelEncoder()
label_encoder_size = LabelEncoder()
label_encoder_material = LabelEncoder()

In [26]:
df['Encoded_Color'] = label_encoder_color.fit_transform(df['Color'])
df['Encoded_Size'] = label_encoder_size.fit_transform(df['Size'])
df['Encoded_Material'] = label_encoder_material.fit_transform(df['Material'])

In [27]:
print(df)

   Color    Size Material  Encoded_Color  Encoded_Size  Encoded_Material
0    red   small     wood              2             2                 2
1  green  medium    metal              1             1                 0
2   blue   large  plastic              0             0                 1
3    red  medium     wood              2             1                 2
4   blue   small    metal              0             2                 0

In [3]:
# Q5.
import pandas as pd
import numpy as np
data = {
    
    'Age': [25, 42, 37, 19, 31, 28],
    'Income': [50000, 65000, 56000, 20000, 53000, 51000], # Income data is described in dollars and it represents annual incomes.
    'Education Level': ["Undergraduate", "PhD", "PhD", "High School", "Masters", "Masters"]


}

In [4]:
df = pd.DataFrame(data)

In [5]:
from sklearn.preprocessing import OrdinalEncoder

In [6]:
encoder = OrdinalEncoder(categories=[["High School", "Undergraduate", "Masters", "PhD"]])

In [8]:
encoded_education = pd.DataFrame(encoder.fit_transform(df[['Education Level']]), columns=['Encoded Education Level'])

In [9]:
result_df = pd.concat([df, encoded_education], axis=1)

In [16]:
result_df.drop(columns='Education Level', inplace=True)

In [17]:
print(result_df)

   Age  Income  Encoded Education Level
0   25   50000                      1.0
1   42   65000                      3.0
2   37   56000                      3.0
3   19   20000                      0.0
4   31   53000                      2.0
5   28   51000                      2.0

In [18]:
result_df.cov()

                                   Age        Income  Encoded Education Level
Age                          68.666667  1.109333e+05                 9.266667
Income                   110933.333333  2.333667e+08             16033.333333
Encoded Education Level       9.266667  1.603333e+04                 1.366667

In [20]:
# Interpretation:

# Since covariance b/w age and income is positive, it suggests that as age increases, income tends to increase, and vice versa.
# Since covariance b/w age and education level is positive, it suggests that as age increases, education level tends to increase, and vice versa.
# Since covariance b/w education level and income is positive, it suggests that as education level increases, income tends to increase, and vice versa.

In [11]:
#Q6.

#1. "Gender" (Male/Female): One-Hot Encoding
#Reason: Gender is a binary categorical variable, and one-hot encoding is suitable for representing such variables.

# "Education Level" (High School/Bachelor's/Master's/PhD): Ordinal Encoding
#Reason: Education level exhibits a clear ordinal relationship, as higher levels correspond to more advanced degrees. Ordinal encoding represents this hierarchy effectively.

#"Employment Status" (Unemployed/Part-Time/Full-Time): Ordinal Encoding
# Reason: Employment status also has an inherent ordinal relationship, with "Unemployed" < "Part-Time" < "Full-Time." Ordinal encoding accurately captures this order.

In [2]:
# Q7.

import numpy as np
import pandas as pd

In [7]:
# Sample data

data = {    
    'temperature': [25, 27, 22, 24, 28, 26, 23, 25, 24, 26],
    'humidity': [50, 55, 48, 52, 57, 53, 47, 49, 51, 54],
    'weather_condition': [0, 1, 2, 0, 2, 1, 2, 0, 1, 1], # Assuming 0: Sunny, 1: Cloudy, 2: Rainy
    'wind_direction': [3, 1, 0, 2, 3, 0, 1, 2, 3, 1]    # Assuming 0: North, 1: South, 2: East, 3: West
}

df = pd.DataFrame(data)

In [8]:
df.cov()

                   temperature   humidity  weather_condition  wind_direction
temperature           3.333333   5.222222          -0.111111        0.555556
humidity              5.222222  10.266667           0.111111        0.711111
weather_condition    -0.111111   0.111111           0.666667       -0.333333
wind_direction        0.555556   0.711111          -0.333333        1.377778

In [9]:
# Interpretation

# Since covariance b/w temperature and humidity is positive, it suggests that as temperature increases, humidity tends to increase, and vice versa.

In [10]:
# Covariance between temperature and weather condition as well as between temperature and wind direction may not be straightforward to interpret without additional context.

In [31]:
# End